/* https://m2.material.io/inline-tools/color/ */

@import "~rfs/scss";

:root {
  --font-color-default: #242424;

  --brand-color-blue: #0092D4;
  --brand-color-blue-dark: #08a4e8;

  --font-color-light-gray-on-light: #535A5F;
  --font-color-light-gray-on-dark: #9AA1A7;


}

[data-mui-color-scheme="light"] body {
  --mui-palette-text-primary: var(--font-color-default);
  --mui-palette-primary-main: var(--brand-color-blue);
  --mui-palette-background-default: #EFEFEF;

  --font-color-light: var(--font-color-light-gray-on-light);
  }
[data-mui-color-scheme="dark"] body {
  --mui-palette-primary-main: var(--brand-color-blue-dark);

  --font-color-light: var(--font-color-light-gray-on-dark);
  // img {
  //   filter: invert(1);
  // }
}
  


body {

  font-synthesis: none;

  .MuiContainer-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .MuiTypography-h1 {
    font-size: rfs(3.5rem);
    font-weight: 700;
  }
  .MuiTypography-h2 {
    font-size: rfs(2.5rem);
    font-weight: 400;
  }
  .MuiTypography-h3 {
    font-size: rfs(1.5rem);
    font-weight: 400;
  }

  .MuiTypography-h6 {
    font-size: rfs(0.75rem);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--font-color-light);
  }
  // .MuiButton-root {
  //   border-radius: 50px;
  // }
}


