$primary-color: #64ff00;

/**
  * Next.js document mentions using :export for global variabls
  * but Turborepo doesn't support it, they use LightningCss
  * See Unsupported Features: https://lightningcss.dev/css-modules.html
  */


:root {
  --primary-color: $primary-color;
} 

.title {
  color: var(--primary-color);
}